$background-color: #EEE8AA;
$title-color: #3fadd3;
$buttons-color: #fd9727;
$backgroundForBoard: rgb(175,238,238);
body {
   background-image: url("../img/football_paper.jpg");

}
.container{
  display: flex;
  justify-content: center;
}
.login{
  width: 300px;
  height: 500px;
  border: 10px solid black;
  padding: 10px;
  border-radius: 25px;
  background-color: $background-color;
  text-align: center;
  .title{
    font-family: 'Pattaya', sans-serif;
    font-size: 30px;
    margin-top: 20%;
    color: $title-color;
  }
  .description{
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
  }
  .dif{
    font-family: 'Amatic SC', cursive;
    font-size: 16px;
  }
  input{
    width: 95%;
    height: 5%;
  }
}
#message-error{
  color: #a74544;
  font-family: 'Pattaya', sans-serif;
}
.buttons{
  display: flex;
  flex-direction: column;
  button{
    background-color: $buttons-color;
    padding: 5px;
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    border-radius: 10px;
    text-decoration: none;
    border-style: none;
    margin: 5px;
  }
}
.board {
  display: none;
  width: 900px;
  border-radius: 25px;
  border: 10px solid black;
  background-color: rgba(175,238,238, 0.3);
  flex-direction: column;
  justify-content: space-around;
  .title{
    font-family: 'Pattaya', sans-serif;
    font-size: 40px;  
    color: $title-color;
    text-align: center;
    margin: 0;
  }
}
.containerImgs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 500px;
  margin: auto; 
}
.board .containerImgs .numero{
  height: auto;
  width: 10%;
  min-width: 100px;
  font-size: 2em;
  margin: 5px;
  background-image: url("../eldiego.jpg");
  background-size: cover;
  border: 3px solid $backgroundForBoard; 
  }


.board .containerImgs .numero:before {
  content:'';
  float:left;
  padding-top:100%;
}

.board .containerImgs
 .numero .photo{
  display: none;
}

.board .containerImgs .numero.mostrar .photo {
  display: block;
}
.photo{
  width: 100px;
  height: 100px;
  background-color: white;
}
.theimageinside{
  width: 100%;
  height: 100%;
}
/* -----mensajes--------- */
#welcome{
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
  margin: 0;
}
#intentos{
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
  margin: 0;
}
#dificultad{
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
  margin: auto;
  background-color: #f4bd8a;
  width: 200px;
  height: 30px;
  margin: auto;
  margin-bottom: 10px;
  border: 2px solid;
  border-radius: 5px;
}
#tries{
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
  background-color: #f4bd8a;
  width: 200px;
  height: 30px;
  margin: auto;
  margin-bottom: 10px;
  border: 2px solid;
  border-radius: 5px;
  
}

/* -----mensajes--------- */
.modal-loser {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  text-align: -webkit-center;
  .modal-content{
    width: 200px;
    height: 200px;
    display: flex;
    background-color: $background-color;
    border: 5px solid black;
    border-radius: 25px;
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    
    #loser-message{
      color: #a74544;
      font-family: 'Pattaya', sans-serif;
      text-align: center;
      margin: auto;
    }
    }
  }
#myBtn{
  width: 150px;
  height: 45px;
  margin: auto;
  background-color: $buttons-color;
  padding: 5px;
  color: white;
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
  border-radius: 10px;
  text-decoration: none;
  border-style: none;  
}
.modal-winner {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  text-align: -webkit-center;
  .modal-contentWinner{
    width: 500px;
    height: 500px;
    display: flex;
    background-color: $background-color;
    border: 5px solid black;
    border-radius: 25px;
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    
    
    }
  }
